@page
@model Bamak.Pages.Admin.Addslider.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SlidNew_produc</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlidNew_produc.NewBookName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlidNew_produc.NewBookName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlidNew_produc.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlidNew_produc.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SlidNew_produc.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
